{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  <h1>{{name}}</h1>
  <br />
  <hr />
  {{#each users}}
    <ul>
      <li>{{id}}</li>
      <li>
        {{name}}
      </li>
      <li>
        {{gender}}
      </li>
      <li>
        {{age}}
      </li>
      <br />
      <hr />
      {{#each friends}}
        <li>{{id}}</li>
        <li>
          {{name}}
        </li>
        <li>
          {{gender}}
        </li>
        <li>
          {{age}}
        </li>
        <br />
        <hr />
        {{#each mutual_friends}}
          <li>{{id}}</li>
          <li>
            {{name}}
          </li>
          <li>
            {{gender}}
          </li>
          <li>
            {{age}}
          </li>
          <br />
          <hr />
          {{#each mutual_friends}}
            <li>{{id}}</li>
            <li>
              {{name}}
            </li>
            <li>
              {{gender}}
            </li>
            <li>
              {{age}}
            </li>
          {{/each}}
        {{/each}}
        {{#each groups}}
          <br />
          <hr />
          <li>{{id}}</li>
          <li>
            {{name}}
          </li>
          <li>
            {{description}}
          </li>
          <br />
          <hr />
          {{#each members}}
            <li>{{id}}</li>
            <li>
              {{name}}
            </li>
            <li>
              {{gender}}
            </li>
            <li>
              {{age}}
            </li>
            <hr />
          {{/each}}
        {{/each}}
      {{/each}}
      {{#each groups}}
        <li>{{id}}</li>
        <li>
          {{name}}
        </li>
        <li>
          {{description}}
        </li>
        <br />
        <hr />
        {{#each members}}
          <li>{{id}}</li>
          <li>
            {{name}}
          </li>
          <li>
            {{gender}}
          </li>
          <li>
            {{age}}
          </li>
          <br />
          <hr />
        {{/each}}
      {{/each}}
    </ul>
  {{/each}}
</div>

{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}