{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<main>
  <div class="'row">
    <div class='card'>
      <div class='nav'>
        {{#with navigation}}
          {{#each links}}
            <div class='nav-item'>
              <a
                class='nav-link'
                aria-current='page'
                href={{href}}
              >{{text}}</a>
            </div>
          {{/each}}
          <div class='nav-item'>
            <a class='nav-link disabled'>Disabled</a>
          </div>
        {{/with}}
      </div>
    </div>
    <br />
    <br />
    <div class='row g-2'>
      <div class='col-8'>
        {{#with formBlock}}
        <h2>{{header}}</h2>
        {{#with rating}}
        <p>{{title}}:{{value}}</p>
        {{/with}}
        {{#with actionBlock}}
        <div class='mt-5'>
        {{#each tabs}}
        {{#unless isActive includeZero=true}} 
        <div 
          class='nav nav-tabs'
          id='nav-tab'
          role='tablist'
        >
        <button class='nav-link'>{{text}}</button>
        {{/unless}}
       {{#if isActive includeZero=true}} 
        <button class='nav-link active'><b>{{text}}</b></button>
        </div>
        {{/if}}
        {{/each}}
         </div>
         <br>
      	<hr>
        {{#with report}}
        <div class='card mt-5 mb-5'>
        <h5 class='card-title m-3'>{{title}}</h5>
           <div class='card-body'>
            {{#with button}}
              <button
             type='button'
             class='btn btn-secondary'
            	href={{link}}
             >{{text}}</button>
             {{/with}}
          </div>
          </div>
        {{/with}}
        {{/with}}
		<hr>
		</div>
		</div>
		<br>
      	<div class='col-4'>
        <div class='card mb-3'>
          <div class='card-body'>
            {{#with goodsInfo}}
			<img src={{photo}} />
			<p class="mt-4 mb-0">{{name}}</p>
			</div>
			</div>
			<div class='card mb-3'>
          	<div class='card-body'>
            <b>{{price}}</b>
			<br>
			{{#if inMarket includeZero=true}}
			Є в наявності
			{{/if}}
			{{#each buttons}}
                {{#if isPrimary includeZero=true}}
                  <div class='mb-2'>
                    <button
                      type='button'
                      class='btn btn-primary'
					  href={{link}}
                    >{{text}}</button>
                  </div>
                {{/if}}
                {{#if isSecondary includeZero=true}}
                  <button
                    type='button'
                    class='btn btn-secondary'
					href={{link}}
                  >{{text}}</button>
                {{/if}}
              {{/each}}
          </div>
        </div>
		    <div class='card'>
          <div class='card-body'>
            {{#with seller}}
			<p class="mb-0">{{title}}: <b>{{value}}</b></p>
			</div>
			</div>
			{{/with}}
		{{/with}}
		</div>
        <div class="col-8 mb-5">
        {{#with feedbackBlock}}
            <h2 class='mb-5'>{{title}}</h2>
              {{#each buttons}}
                {{#if isWarning includeZero=true}}
                    <button
                      type='button'
                      class='btn btn-warning'
                    >{{text}}</button>
                {{/if}}
                {{#if isSuccess includeZero=true}}
                  <button
                    type='button'
                    class='btn btn-success'
                  >{{text}}</button>
                {{/if}}
				{{#if isDanger includeZero=true}}
                  <button
                    type='button'
                    class='btn btn-danger'
                  >{{text}}</button>
                {{/if}}
              {{/each}}
        {{/with}}
		</div>
    {{/with}}
    <hr />
	{{#each reviewList}}
	<div class="card mt-5">
	<div class="card-body">
	<div class="card">
  <div class="card-header">
	{{#with title}} 
	<h5 >{{userName}}</h5> 
	{{caption}} 
	<br> 
	{{date}}
	{{/with}}</div>
  <div class="card-body">
	{{#with reviewBody}}
	{{#with seller}}
	<p class="card-text">{{title}}: {{value}}</p>
	{{/with}}
	{{#with rating}}
	<p class="card-text">{{title}}: {{value}}</p>
	{{/with}}
	{{#each text}}
	{{this}}
	{{/each}}
	{{#with advantages}}
	<p class="card-text">{{title}}: {{text}}</p>
	{{/with}}
	{{#with disadvantages}}
	<p class="card-text">{{title}}: {{text}}</p>
	{{/with}}
	{{#each images}}
	<img src={{this}} />
	{{/each}}
 </div>
</div>	
{{#each coments}}
<div class="card ms-5 mt-4 ">
<div class="card-body">
<h5 >{{userName}}</h5> 
	<date>{{date}}</date>
	<div class="pt-2">{{text}} </div>
</div>		
</div>
{{/each}}
{{/with}}
</div>		
</div>
{{/each}}
<div class="mt-5 mb-5">
{{#with service}}
    <div class='card text-bg-success text-center'>
      <div class='card-body'>
        <h2 class='card-title'>{{title}}</h2>
        <p class='card-text'>{{description}}</p>
        {{#each buttons}}
          <button
            href={{link}}
            class='btn btn-primary'
          >{{text}}</button>
        {{/each}}
      </div>
    </div>
  {{/with}}
  </div>
  <hr>
    <div class='nav'>
      {{#each footer}}
        <div class='col-2'>
          <div class='nav-item vertically'>
            {{#each this}}
              <a
                class='nav-link'
                aria-current='page'
                href={{link}}
              >{{text}}</a>
            {{/each}}
            <div class='nav-item'>
              <a class='nav-link disabled'>Disabled</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}